<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Game</title>
    <script src="../gamelogic.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body onload="init()" class="jumbotron text-center">
<div >
    <p id="user-score">User Score: <span id = "score" onload="changeText()">0</span></p>
</div>
    <button id="submit-score">Submit Score</button>
</body>
</html>>